<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <contentSearch>
            <schemaSynchronizer type="YourProject.Foundation.Indexing.Services.AzureSearch.CloudSearchServiceSchemaSynchronizer, YourProject.Foundation.Indexing" patch:instead="schemaSynchronizer[@type='Sitecore.ContentSearch.Azure.Schema.SearchServiceSchemaSynchronizer, Sitecore.ContentSearch.Azure']">
                <param desc="managmentOperations" ref="contentSearch/searchServiceClient" />
                <param desc="retryPolicy" type="Sitecore.ContentSearch.Azure.Utils.Retryer.RetryPolicy, Sitecore.ContentSearch.Azure">
                    <param desc="retryStrategy" type="Sitecore.ContentSearch.Azure.Utils.Retryer.ExponentialRetryStrategy, Sitecore.ContentSearch.Azure">
                        <exponent>1.2</exponent>
                        <maxRetryCount>10</maxRetryCount>
                        <minDelayInterval>00:00:00.1</minDelayInterval>
                        <maxDelayInterval>00:00:02.0</maxDelayInterval>
                    </param>
                    <param desc="detectionStrategy" type="Sitecore.ContentSearch.Azure.Utils.Retryer.SchemaUpdateErrorTransientDetectionStrategy, Sitecore.ContentSearch.Azure" />
                </param>
                <param desc="analyzerRepository" ref="contentSearch/analyzerRepository" />
            </schemaSynchronizer>
        </contentSearch>
        <suggesters name="suggestions" searchMode="analyzingInfixMatching" >
            <sourceFields>
                <suggesterField suggesterFieldName="name___s" />
                <suggesterField suggesterFieldName="content_1"/>
                <suggesterField suggesterFieldName="displayname___s"/>
            </sourceFields>
        </suggesters>
    </sitecore>
</configuration>